/* Global Styles */

body {
    background-color: gray;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#container {
    background-color: rgb(49, 162, 49);
}

/* Mobile Styles */

@media (min-width: 320px) {
    nav {
        background-color: white;
        padding: 5px;
        margin-top: 10px;
        text-align: center;
    }


nav ul {
    list-style: none;
    padding: 0;
}
nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    background-color: gray;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 5px;
}

nav li a:hover {
    background-color: black;
}
main {
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    color: white;
}

footer {
    text-align: center;
    padding: 40px;
}

}

/* Tablet Styles */

@media (min-width: 320px) {
    nav li {
        display: inline-block
    }

    nav li a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin: 5px;
    }

    .coll {
        width: 20% ;

    }

 }
